<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>J#</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>

<div id="main">
    <div>
        <a href="/upload-file"><button>Load Files</button></a>

        <button id="saveButton">Save</button>

    </div>
    <div id="top">
        <div>
            <input id="file-tree-range" type="range" min="2" max="200" value="100">
        </div>

        <div>
            <button id="compileButton">Compilar 3d</button>
            <button id="executeButton">Ejecutar 3d</button>
            <button id="tablaSimbolos">Tabla de simbolos</button>
            <button id="tablaFunciones">Tabla de funciones</button>
            <button id="aux3D">Pasar a 3d Aux</button>
            <button id="optmizar3d">optimizar 3d</button>

        </div>

        <div>

            <input id="editor-3d-range" type="range" min="2" max="400" value="200">

        </div>

    </div>

    <div id="central">
        <div id="editors">
            <div id="file-tree">
                archivos
            </div>
            <div id="editors-java">

                <div id="tabs">
                </div>
                <div id="tab-content"></div>

            </div>
            <div id="editor-3d"></div>
        </div>
        <div id="outputs">
            <textarea id="consoleTextArea" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div id="bottom">
        <button id="errorsButton">Errores</button>
    </div>

</div>


<div id="errorsDiv">
    <table>
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Archivo</th>
            <th>Linea</th>
            <th>Columna</th>
            <th>Mensaje</th>
        </tr>
        </thead>
        <tbody id="errorsBody">

        </tbody>
    </table>

</div>

<script>






</script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js"></script>
<script src="/javascripts/reportes/reportes.js"></script>
<script src="/javascripts/optmizar/algebracias.js"></script>
<script src="/javascripts/source.js"></script>
<script src="/javascripts/language.js"></script>
<script src="/javascripts/parser/parser.js"></script>
<script src="/javascripts/3d/parser3d.js"></script> <!-- jison3d -->
<script src="/javascripts/3d/ast3d.js"></script> <!-- ast3d -->

<script src="/javascripts/index.js"></script>


<script>

    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/java");
    // openFile({ path: '/public/archivos/prueba.j' });
    console.log('...........');

</script>

</body>
</html>
